
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
.modal-dialog{
  max-width: 800px;
}



.row{
  gap: 14px;
}
.row .card{
  width: 24%;
}
/* Shoes ProductList */
.nutProductList {
  border-top: 1px solid #8080806e;
    border-bottom: 1px solid #8080806e;
    margin-bottom: 15px;
    padding: 10px;
}
.nutProductList .add , .search {
  border: none;
    background: none;
}
.nutProductList .add:hover{
  color: #4342e8;
}
.nutProductList .add span{
  padding-right: 5px;
}
.nutProductList .search:hover{
  color: #4342e8;
}

.info_stars {
  color: #dbdb62;
  
}
/* Shoes ProductDetail */
.modal-header{
  font-size: 22px;
  justify-content: center !important;
}
.chiTiet{
  text-align: left;
}
.chiTiet p{
  padding-bottom: 10px;
}
 .hinhAnh img{
  width: 100%;
}
.chiTiet .header_hinhAnh{
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  align-items: center;
  padding: 10px 0;
}
.chiTiet .header_hinhAnh i:hover {
  color: red;
}
.chiTiet .price_hinhANh{
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.chiTiet .price_hinhANh p:first-child{
  text-decoration: line-through;
    opacity: 0.6;
    font-size: 18px;
}
.chiTiet .price_hinhANh p:last-child{
  font-size: 25px;
  padding-left: 9px;
}
.chiTiet button.buy_it{
  background: black;
  width: 100%;
  /* height: 50px; */
  padding: 20px;
  margin: 10px 0;
  color: white;
}
.chiTiet .info_stars {
  color: #dbdb62;
}
.btn-secondary{
  background-color: red;
}
.btn-primary{
  background-color: rgb(28, 64, 142);
}
.modal-footer{
  position: absolute;
    top: 0;
    right: 0;
}
.product_sharebar {
  justify-content: center;
}
.product_sharebar .share, .ask-a-question, .faq{
  padding-right: 15px;
}
.product_sharebar .share i, .ask-a-question i, .faq i{
  padding-right: 5px;
}
.product_sharebar .share button, .ask-a-question button , .faq button{
  border: none;
    background: none;
}